[Unit]
Description=SpiderOak Backup/Sync Service

[Service]
ExecStart=/usr/bin/SpiderOak --headless --enable-schedule --verbose

[Install]
WantedBy=default.target