[Unit]
Description=Emacs Daemon
After=gpg-agent.service
Wants=gpg-agent.service

[Service]
Type=forking
EnvironmentFile=%h/.gpg-agent-info
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient -e "(kill-emacs)"

[Install]
WantedBy=default.target
