[Unit]
Description=Forward Before=foo.target to user 1000
Before=sleep.target

[Service]
User=emallson
Type=simple
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
ExecStart=/usr/bin/systemctl --user start sleep.target

[Install]
WantedBy=sleep.target